/* COLORS */
/* Green #cec93f
Black #000
White #fff */

/*FONTS*/
/* Headings "Russo One", sans-serif;
Body Text "  font-family: "Oswald", sans-serif;" */

/* Generic Styling for Page */
* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Oswald", sans-serif;
}

body {
  background-image: url("images/shutterstock_271040717.jpg");
  height: 100vh;
}

button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}

.item__div {
  background-color: #cec93f;
  margin: 20px;
}

.item__img {
  border-radius: 50%;
}

/* Mobile first styling */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  background-color: #cec93f;
  font-family: "Russo One", sans-serif;
  font-size: 24px;
  padding: 10px;
}

.header__img {
  width: 60%;
}

.header__link {
  text-decoration: none;
  padding: 25px 35px;
  border: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  background: url(images/dogbone.png);
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
  color: #000000;
  margin: 0 20px;
}

.checkoutPage__h1 {
  font-family: "Russo One", sans-serif;
  padding: 10px 20px;
}

.checkout__button {
  background-color: #cec93f;
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid #000000;
}

/* Styling for desktop */
@media only screen and (min-width: 768px) {
  button {
    font-size: 16px;
  }
  .header__img {
    width: 400px;
  }

  .header__link {
    margin: 0 20px;
    background-size: 175px;
    padding: 40px 50px;
    font-size: 20px;
  }
}
