/* COLORS */
/* Green #cec93f
Black #000
White #fff */

/*FONTS*/
/* Headings "Russo One", sans-serif;
Body Text "  font-family: "Oswald", sans-serif;" */

/* Generic Styling for both pages */
* {
  margin: 0;
  padding: 0;
}

p,
h3 {
  font-family: "Oswald", sans-serif;
}

p {
  font-size: 18px;
}

button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}

h1,
h2 {
  font-family: "Russo One", sans-serif;
}

.parallax {
  background-image: url("images/shutterstock_271040717.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main {
  margin-top: 200px;
}

/* Mobile first styling */

/* HEADER CONTENT */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  background-color: #cec93f;
  font-family: "Russo One", sans-serif;
  font-size: 24px;
  padding: 10px;
  position: fixed;
  top: 0;
  border-bottom: 5px solid #000000;
}

.header__img {
  width: 60%;
}

.headerLink__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: url(images/dogbone.png);
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 20px;
  height: 100%;
  width: 100%;
}

.header__link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
}

#viewCart__link {
  padding: 25px 35px;
}

#keepShop__link {
  padding: 25px 25px;
}

/* MAIN CONTENT FOR INDEX.HTML */
.itemsContainer__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item__div {
  background-color: rgba(205, 200, 63, 0.9);
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  padding: 20px;
}

.item__img {
  border-radius: 50%;
  border: 8px solid #000000;
  width: 75%;
  box-shadow: 5px 5px 10px #000000;
}

.itemCat__p {
  font-style: italic;
}

/* MAIN CONTENT FOR CHECKOUT.HTML */

.cartItems__div {
  background-color: rgba(205, 200, 63, 0.9);
  margin: 0px 20px;
  border-radius: 5px;
  padding: 20px;
}

.emptyCart__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
}

.hide {
  display: none;
}

.emptyCart__h2 {
  margin: 20px 0 10px 0;
}

.cartItem__div {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.emptyCart__link {
  text-decoration: none;
}

.emptyCart__link:hover {
  text-decoration: underline;
  color: #ffffff;
}

.cartItem__img {
  width: 125px;
  border-radius: 50%;
  margin-right: 40px;
  border: 2px solid #000000;
  box-shadow: 2px 2px 5px #000000;
}

.checkout__button {
  background-color: #cdc83f;
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid #000000;
}

/* Styling for desktop */
@media only screen and (min-width: 768px) {
  button {
    font-size: 16px;
  }

  .header__img {
    width: 400px;
  }

  .headerLink__div {
    background-size: 175px;
    width: 200px;
  }

  .itemsContainer__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .item__div {
    width: 33%;
  }

  .cartItems__div {
    margin: 40px;
  }
}
